### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
CSV = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(CSV)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
Total_Count = purchase_data.groupby(['SN']).sum()
player_count = pd.DataFrame({"Total Players":[len(Total_Count)]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
Unique_Items = (purchase_data['Item ID']).nunique()
Average_Price = round(purchase_data['Price'].mean(),2)
Number_of_Purchases = purchase_data['Item ID'].count()
Total_Revenue = purchase_data['Price'].sum()


Total = {"Number of Unique Items":[Unique_Items],
         "Average Price":[Average_Price],
         "Number of Purchases":[Number_of_Purchases],
         "Total Revenue": [Total_Revenue]}
New_df= pd.DataFrame(data=Total)
New_df["Average Price"] = New_df["Average Price"].map("${:,.2f}".format)
New_df["Total Revenue"] = New_df["Total Revenue"].map("${:,.2f}".format)
New_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
Everyone = purchase_data["SN"].nunique()
Total_Male = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
Total_Female = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
Total_Other = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["SN"].nunique()

Percent1 = (Total_Male/Everyone)*100
Percent2 = (Total_Female/Everyone)*100
Percent3 = (Total_Other/Everyone)*100

Gender_Count = {"Total Count":[Total_Male, Total_Female, Total_Other], 
        "Percentage of Players":[Percent1, Percent2, Percent3]} 


Gender_Demographics = pd.DataFrame(Gender_Count, index =["Male", "Female", "Other/Non-Disclosed"]) 
Gender_Demographics["Percentage of Players"] = Gender_Demographics["Percentage of Players"].map("{:,.2f}".format)
Gender_Demographics

                     Total Count Percentage of Players
Male                         484                 84.03
Female                        81                 14.06
Other/Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
F_Purchase_Count = purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()
M_Purchase_Count = purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()
O_Purchase_Count = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].count()

F_Avg_Price=purchase_data[purchase_data["Gender"] == "Female"]["Price"].mean()
M_Avg_Price= purchase_data[purchase_data["Gender"] == "Male"]["Price"].mean()
O_Avg_Price= purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].mean()

F_Total_Purchase_Price = purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()
M_Total_Purchase_Price = purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()
O_Total_Purchase_Price = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].sum()

F_Avg_Total_PPP = (F_Total_Purchase_Price/Total_Female)
M_Avg_Total_PPP = (M_Total_Purchase_Price/Total_Male)
O_Avg_Total_PPP = (O_Total_Purchase_Price/Total_Other)


data = {"Purchase Count":[F_Purchase_Count, M_Purchase_Count, O_Purchase_Count], 
        "Average Purchase Price":[F_Avg_Price, M_Avg_Price, O_Avg_Price], 
        "Total Purchase Value":[F_Total_Purchase_Price, M_Total_Purchase_Price, O_Total_Purchase_Price], 
        "Avg Total Purchase per Person":[F_Avg_Total_PPP, M_Avg_Total_PPP, O_Avg_Total_PPP]}

Purchasing_Analysis = pd.DataFrame(data, index =["Female", "male", "Other/Non-Disclosed"]) 
Purchasing_Analysis["Total Purchase Value"] = Purchasing_Analysis["Total Purchase Value"].map("${:,.2f}".format)
Purchasing_Analysis["Average Purchase Price"] = Purchasing_Analysis["Average Purchase Price"].map("${:,.2f}".format)
Purchasing_Analysis["Avg Total Purchase per Person"] = Purchasing_Analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
Purchasing_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,361.94,$3.20,$361.94,$4.47
male,1967.64,$3.02,"$1,967.64",$4.07
Other/Non-Disclosed,15.00,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins =      [0, 9, 14, 19, 24, 29, 34, 39, 200]
bin_title = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Bin_Group"] = pd.cut(purchase_data["Age"], bins, labels=bin_title)
purchase_data

age_grouped = purchase_data.groupby("Bin_Group")
total_players = len(purchase_data["SN"].value_counts())
total_count_age = age_grouped["SN"].nunique()
percentage_by_age = (total_count_age/total_players) * 100
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})
age_demographics.index.name = None
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

##^^^^^^^^^^Everything Above Works as intended^^^^^^^^^^###

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
spender_stats = purchase_data.groupby("Bin_Group")
purchase_count_spender = spender_stats["Purchase ID"].count() 
avg_purchase_price_spender = spender_stats["Price"].mean()
purchase_total_spender = spender_stats["Price"].sum()


top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})


formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Formating
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
 
items = purchase_data[["Item ID", "Item Name", "Price"]] 
item_stats = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_stats["Price"].count() 
purchase_value = (item_stats["Price"].sum()) 
item_price = purchase_value/purchase_count_item


most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()


popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Take the most_popular items data frame and change the sorting to find highest total purchase value
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame